body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #000000;
        color: #ffffff;
        font-family: Georgia, "Times New Roman", serif;
}

header {
        color: #ffffff;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        font-family: Georgia, "Times New Roman", serif;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
}

nav {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: Georgia, "Times New Roman", serif;
        display: inline;
        font-size: 1em;
        text-transform: uppercase;
        line-height: 1em;
}

a {
        text-decoration: none;
}

main {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}

h1 {
        color: #ffffff;
        margin: 8px;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 2.7em;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
}

h2 {
        font-family: 'https: //overpass-30e2.kxcdn.com/overpass.css';
                font-weight: bold;
        text-transform: uppercase;
        font-size: 2em;
}

h3 {
        font-family: 'https: //overpass-30e2.kxcdn.com/overpass.css';
                font-weight: bold;
        text-transform: uppercase;
        font-size: 1.3em;
}

p {
        color: #ffffff;
        font-family: Georgia, "Times New Roman", serif;
}

a:link {
        color: #33ddff;
}

a:visited {
        color: #ee33ff;
}

a:hover {
        color: #99ff33;
}

nav a:link {
        color: #ffffff;
}

nav a:visited {
        color: #ffffff;
}

nav a:hover {
        color: #99ff33;
}

ul {
        list-style-image: url(Resources/custom_marker.gif);
}

footer {
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 75%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
}

.center {
        text-align: center;
}

.socials-menu {
        list-style: none;
        margin: auto;
        padding-left: 0;
}

.socials-menu li {
        display: inline;
}

.social-icon {
        margin: 5px;
        width: 25px;
        height: auto;
        padding-bottom: 5px;
}

#top-nav {
        padding-top: 10px;
        padding-bottom: 10px;
}

#bottom-nav {
        padding-top: 10px;
        padding-bottom: 10px;
}

#bottom-nav a {
        margin: 2px;
}

/* Bordered form */
form {
        border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
}

/* Set a style for all buttons */
button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
        opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
        width: 20%;
        border-radius: 50%;
}

/* Add padding to containers */
.container {
        padding: 16px;
}

/* The "Forgot password" text */
span.psw {
        float: right;
        padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
        span.psw {
                display: block;
                float: none;
        }

        .cancelbtn {
                width: 100%;
        }
}