body {background-color: #333;
      background-image: url(Resources/transparent-grid.png);
      color: #091034;
      font-family: Georgia, "Times New Roman", serif;}

header {background-color: #559E54F2; /* F2 at end gives 95% opacity */
      background-image: linear-gradient(to bottom, #000, #559E54F2, #559E54F2, #559E54F2, #000);
      color: #091034;
      padding-top: 20px;
      padding-bottom: 10px;
      text-align: center;
      font-family: Georgia, "Times New Roman", serif;
      width: 99%;
      margin-left: auto;
      margin-right: auto;}

header div nav {padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", serif;
    font-weight: bold;}

main {background-color: #D4F7D4F2;
      color: #091034;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: auto;
      margin-right: auto;
      width: 97%;}

h1 {color: #091034;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #666;}

h2 {color: white;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #666;
    position: relative;
    bottom: 3em;
    font-size: 3em;
    height: 0px;
    margin-bottom: 0px;}

h3 {color: #091034;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #666;}

h4 {color: #091034;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;}

p {color: #091034;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;}

ul {width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(Resources/marker.gif);}

label {color: #183BF0;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;}

table {background-color: #FFF;
      border: 2px solid #3399CC;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;}

td , th {padding: 0.5em;
        border: 2px solid #3399CC;}

td {text-align: center;}

tr:nth-of-type(even) {background-color: #ebe6f5;}

nav a {text-decoration: none;
        font-family: Georgia, "Times New Roman", serif;}

nav a:link {color: #183BF0;}

nav a:visited {color: #ffffff;}

nav a:hover {color: #A52A2A;}

footer {background-color: #559E54F2;
        color: #091034;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 75%;
        font-style: italic;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 99%;
        margin-left: auto;
        margin-right: auto;}

iframe {display: block;
        margin: auto;}

.clear {clear: both;}

.navbtn {min-width: 80px;
        max-width: 200px;
        min-height: 20px;
        max-height: 50px;}

#greybox {background-color: grey;
          background-position: top;} /* doesn't work? */

#left-logo {display: none;}

#right-logo {display: none;}

#img-caption {text-align: center;
              font-style: italic;}

#pageTitleImg {display: block;
              margin-left: auto;
              margin-right: auto;
              max-width: 100%;
              height: auto;}

#bottom-nav {background-color: #559E54F2;
            color: #091034;
            padding-bottom: 20px;
            text-align: center;
            text-decoration: none;
            font-family: Georgia, "Times New Roman", serif;
            font-weight: bold;
            width: 99%;
            margin-left: auto;
            margin-right: auto;}

#backgroundL {background-image: url(Resources/backgroundL.png);
              max-width: 100%;
              height: auto;}

#backgroundR {background-image: url(Resources/backgroundR.png);
              max-width: 100%;
              height: auto;}

#bio {margin-left: auto;
      margin-right: auto;
      width: 90%;
      background-color: #559E5433;}

@media (min-width:600px){
  /* body {background-color: red;} */

  section {float: left;
        width: 33%;
        padding-left: auto;
        padding-right: auto;
        min-height: 180px;
        background-color: #559E5433;}

  .section {float: left;
        width: 50%;
        padding-left: auto;
        padding-right: auto;
        min-height: 250px;
        background-color: #559E5433;}
}

@media (min-width:1024px){
  /* body {background-color: blue;} */

  header {display: grid;
        grid-gap: 5px;
        grid-template-columns: auto 50% auto;}

  section {float: left;
        width: 33%;
        padding-left: auto;
        padding-right: auto;
        min-height: 180px;
        background-color: #559E5433;}

  #left-logo {display: block;
              margin: auto;}

  #right-logo {display: block;
              margin: auto;}

  .section {float: left;
        width: 50%;
        padding-left: auto;
        padding-right: auto;
        min-height: 250px;
        background-color: #559E5433;}

  .grid-container {display: grid;
                 grid-gap: 10px;}

  .grid-child-left {margin-left: 10px;
                  padding-bottom: 10px;}

  .grid-child-center {/*background-color: #A6CFA5;*/
                   padding-bottom: 10px;}

  .grid-child-right {margin-right: 10px;
                   padding-bottom: 10px;}

  .grid-child-one {background-color: #A6CFA5CF;
                  padding-bottom: 10px;}

  .grid-child-two {background-color: #A5C7EECF;
                  padding-bottom: 10px;}

  .grid-child-three {background-color: #A6CFA5CF;
                    padding-bottom: 10px;}

  .grid-child-four {background-color: #A5C7EECF;
                    padding-bottom: 10px;}

  .grid-child-five {background-color: #A6CFA5CF;
                    padding-bottom: 10px;}

  .grid-child-six {background-color: #A5C7EECF;
                  padding-bottom: 10px;}
}
