* {
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

h1 {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: #ffffff;
}

h2 {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
}

h3 {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    color: #ffffff;
}

h4 {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
}

h5 {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #ffffff;
}

h6 {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #ffffff;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none; /* remove underline */
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

    a:link {
        color: #33ddff; /* blue */
    }

    a:hover {
        color: #99ff33; /* green */
    }

    a:active {
        color: #ffffff; /* green */
    }

    a:visited {
        color: #ee33ff; /* purple */
    }

body {
    background-color: #000000;
}

header {
    background-color: #00004d;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    line-height: 1em;
    background-color: #33334d;
}

main {
    background-color: #000000;
}

footer {
    background-color: #000000;
    font-size: 75%;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}