.center {
    text-align: center;
}

#bottom-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

    #bottom-nav a {
        margin: 2px;
    }

h1 {
    margin: 8px;
}

header {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
    line-height: 1em;
}

nav a {
    padding-right: 1%;
}

main {
    width: 100%;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
